.container.mx-auto.w-full.mt-8.py-10.min-w-full.sm:px-6.lg:px-8.bg-white.rounded
  %h1.text-2xl.font-bold.text-my-blue.px-6.md:px-0 Profile
  %form{action: "{{ route('profile.save') }}", enctype: "multipart/form-data", method: "POST"}
    .w-full.bg-white.rounded-lg.mx-auto.mt-16.flex.overflow-hidden.rounded-b-none
      .w-full
        .md:flex.items-center.mb-8
          .mx-auto.w-40.h-40.mb-2.border.rounded-full.relative.bg-gray-100.mb-4.shadow-inset
            %img.img-size.object-cover.w-40.h-40.rounded-full{:alt => "NO PICTURE UPLOADED", :src => "#{@user.img.present? ? @user.img.to_s : '/pic.png'}"}/
        .md:flex.items-center
          .w-full.flex.flex-col.px-2{class: "md:w-1/3"}
            %label.text-sm.text-gray-600{for: "first name"}
              
            %input.mt-2.border-2.border-gray-200.px-3.py-2.block.w-full.rounded-lg.text-base.text-gray-900.focus:outline-none.focus:border-indigo-500{type: "text", value: "#{@user.first_name}"}/
          .w-full.flex.flex-col.px-2{class: "md:w-1/3"}
            %label.text-sm.text-gray-600{for: "middle name"}
              
            %input.mt-2.border-2.border-gray-200.px-3.py-2.block.w-full.rounded-lg.text-base.text-gray-900.focus:outline-none.focus:border-indigo-500{type: "text", value: "#{@user.middle_name}"}/
          .w-full.flex.flex-col.px-2{class: "md:w-1/3"}
            %label.text-sm.text-gray-600{for: "last name"}
              
            %input.mt-2.border-2.border-gray-200.px-3.py-2.block.w-full.rounded-lg.text-base.text-gray-900.focus:outline-none.focus:border-indigo-500{type: "text", value: "#{@user.last_name}"}/
        .md:flex.items-center
          .w-full.flex.flex-col.px-2{class: "md:w-1/2"}
            %label.text-sm.text-gray-600{for: "name"} Role
            %input.mt-2.border-2.border-gray-200.px-3.py-2.block.w-full.rounded-lg.text-base.text-gray-900.focus:outline-none.focus:border-indigo-500{type: "text", value: "#{@user.role}"}/
          .w-full.flex.flex-col.px-2{class: "md:w-1/2"}
            %label.text-sm.text-gray-600{for: "email"} Email Address
            %input.mt-2.border-2.border-gray-200.px-3.py-2.block.w-full.rounded-lg.text-base.text-gray-900.focus:outline-none.focus:border-indigo-500{type: "email", value: "#{@user.email}"}/
          
      
          -# <div class="md:flex items-center">
          -#<div class="w-full flex flex-col px-2 py-4">
          -# <label for="photo" class="text-sm text-gray-600 w-full block">Photo</label>
          -# <img class="rounded-full w-16 h-16 border-4 mt-2 border-gray-200 float-left" id="photo" src="https://pbs.twimg.com/profile_images/1163965029063913472/ItoFLWys_400x400.jpg" alt="photo">
          -# </div>
          -# </div>
    .md:flex-1.px-3.text-center.md:text-right.mt-16
      = link_to 'Edit Account', edit_user_registration_path, class: 'bg-my-blue hover:bg-my-light-blue text-white font-bold py-2 px-4 rounded', style: "color: white"
