.container.mx-auto.w-full.mt-8.py-10.min-w-full.sm:px-6.lg:px-8.bg-white.rounded
  
  %p#notice= notice
  %div{class:"flex items-between justify-center gap-2 w-full my-4"}
    %div{class: "flex flex-col gap-2 w-full text-3xl"}
      %span{class: "text-3xl text-my-blue font-bold"}= "#{@group.name} (#{@group.user.fullname})"
      -# %div{class: "flex flex-col md:flex-row text-xl gap-3"}
      -#   %span{class: "text-gray-500"} Teacher:
      -#   %span= @teacher.fullname
      %div{class: "flex flex-col md:flex-row text-xl gap-3"}
        %span{class: "text-base text-gray-600"}Description: 
        %span{class: "text-base"}= @group.description

  %ul.flex.border-b.border-light-blue.text-sm.font-medium.text-my-blue.px-4.md:px-0.mt-8.w-auto
    %li.font-bold.hover:text-my-pink
      %a.py-4.inline-block.bold.hover:bg-my-pink.hover:text-my-blue.p-4{href: "#{group_path(@group)}#_"} Students
    %li.font-bold.hover:text-my-pink
      %a.py-4.inline-block.bold.hover:bg-my-pink.hover:text-my-blue.p-4{href: "#{group_activities_path(@group)}#_"} Activities
    %li.font-bold.text-my-blue.border-b-2.border-my-pink.bg-my-pink
      %a.py-4.inline-block.bold.hover:bg-my-pink.hover:text-my-blue.p-4{href: "#{group_assignments_path(@group)}#_"} Assignments
  

= render :partial => 'layouts/table_links'
.flex.flex-col.md:flex-row.items-center.justify-between.w-full.mt-8
  %h1.text-2xl.font-bold.text-my-blue.px-6.md:px-0 Assignments
  = link_to new_group_assignment_path(@group), :class => "text-white flex self-center px-8 py-2 rounded bg-my-blue hover:bg-my-blue hover:opacity-80 flex items-center justify-center transition duration-250" do 
    %span{class: "text-white text-base"} Create Assignment 
  
.w-full.mt-10
  %table#assignments.stripe.hover.w-full.mt-10.py-8
    %thead.bg-my-light-blue.dark:bg-white
      %tr
        %th.py-3.px-6.text-xs.font-medium.tracking-wider.text-left.text-gray-700.uppercase.dark:text-gray-400{scope: "col"} Title
        %th.py-3.px-6.text-xs.font-medium.tracking-wider.text-left.text-gray-700.uppercase.dark:text-gray-400{scope: "col"} Instructions
        %th.py-3.px-6.text-xs.font-medium.tracking-wider.text-left.text-gray-700.uppercase.dark:text-gray-400{scope: "col"} Submissions
        %th.py-3.px-6.text-xs.font-medium.tracking-wider.text-left.text-gray-700.uppercase.dark:text-gray-400{scope: "col"} Actions

    %tbody{class: "bg-white"}
      - for assignment in @group.assignments
        %tr
          %td.py-4.px-6.text-sm.font-medium.whitespace-nowrap
            =assignment.title
          %td.py-4.px-6.text-sm.font-medium.whitespace-nowrap
            =assignment.instructions
          %td.px-6.py-4.whitespace-no-wrap.border-b.border-gray-200.text-sm.leading-5
            = assignment.assignment_submissions.count
          %td.px-6.py-4.whitespace-no-wrap.border-b.border-gray-200.text-sm.leading-5.flex.gap-4
            =link_to "View / Submit", group_assignment_path(@group, assignment) 


:javascript
  var table = $('#assignments').DataTable( {
    responsive: true
  } )
  .columns.adjust()
  .responsive.recalc();