%div{class: "container mx-auto px-6 py-8 gap-2 flex flex-col w-full  justify-center items-center md:items-start"}

  %p#notice= notice
  %div{class:"flex items-between justify-center gap-2 w-full bg-white p-8 rounded"}
    %div{class: "flex flex-col gap-4 w-full items-start text-3xl"}
      %span{class: "text-xl border-b pb-2 border-gray-300"}= @assignment.group.name
      %div{class: "flex text-xl gap-3 justify-center md:justify-start items-center"}
        %span{class: "text-lg text-gray-500"} Assignment Title: 
        %span{class: "text-lg"}= @assignment.title
      %div{class: "flex flex-col md:gap-3 md:flex-row text-xl justify-center md:justify-start items-center"}
        %span{class: "text-base text-gray-500"}Instructions: 
        %span{class: "text-base"}= @assignment.instructions 
    - if current_user.role == "teacher"
      = link_to 'Edit Assignment', edit_group_assignment_path(@group, @assignment), :class => "whitespace-nowrap self-end bg-my-blue flex items-center justify-center rounded text-base py-1 px-4 text-white hover:bg-my-blue hover:opacity-75 transition-opacity duration-200", :style=>'color:#FFFFFF;'
    
  - if current_user.role == "student"
    = render 'assignment_submissions/form'
  - elsif current_user.role == "teacher"
    = render 'assignment_submissions/aslist'
  - else

  = link_to 'Back to Group', group_path(@group), :class => "cursor-pointer my-4 bg-my-blue flex items-center justify-center rounded text-base py-1 px-4 text-white hover:bg-my-blue hover:opacity-75 transition-opacity duration-200", :style=>'color:#FFFFFF;'
