<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Create your account
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Or
        <%= link_to "sign in to your account", new_user_session_path, :class => "font-medium text-indigo-600 hover:text-indigo-500" %>
      </p>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'w-full max-w-lg'}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <%= f.label :first_name, :class => "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
          <%= f.text_field :first_name, :class => "appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white", autofocus: true %>
          <p class="text-red-500 text-xs italic">Please fill out this field.</p>
        </div>
        <div class="w-full md:w-1/2 px-3">
          <%= f.label :middle_name, :class => "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
          <%= f.text_field :middle_name, :class => "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500", autofocus: true %>
        </div>
        <div class="w-full md:w-1/2 px-3">
          <%= f.label :last_name, :class => "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
          <%= f.text_field :last_name, :class => "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500", autofocus: true %>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
          <%= f.label :email, :class => "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
          <%= f.email_field :email, autofocus: true, :class => "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500", autocomplete: "email" %>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
          <%= f.label :password, :class => "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", :class => "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
          <%= f.label :password_confirmation, :class => "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
          <%= f.label :role, "Account", :class => "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
          <%= f.select :role, options_for_select([["Teacher", "teacher"], ["Student", "student"]]), {} ,{:class => "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500", :required => "true"} %>
        </div>
      </div><br />
      <div>
        <%= button_tag(type: 'submit', class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500", id: 'validForm') do %>
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- Heroicon name: solid/lock-closed -->
            <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
            </svg>
          </span>
          Sign Up
        <% end %>
      </div>
    <% end %>
  </div>
</div>
