%p#notice= notice

%p
  %b Content:
  = @comment.content
%p
  %b Post:
  = @comment.post_id
%p
  %b User:
  = @comment.user_id

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
