= form_for @group do |f|
  - if @group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :img
    .custom-file
      - if @direct_mode
        = f.cl_image_upload :img, :accept => "image/*"
      - else
        %label.custom-file-upload.form-control{:for => "files"}
          %i.fa.fa-upload.pt-1.float-right
          Browse files
        = f.file_field :img, :class => "custom-file-input d-none", :id => "files", :accept => "image/*"
  .field
    = f.hidden_field :user_id, value: current_user.id
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
