-#= form_for @group do |f|
-#  - if @group.errors.any?
-#    #error_explanation
-#      %h2= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"
-#      %ul
-#        - @group.errors.full_messages.each do |msg|
-#          %li= msg

-#  .field
-#    = f.label :img
-#    .custom-file
-#      - if @direct_mode
-#        = f.cl_image_upload :img, :accept => "image/*"
-#      - else
-#        %label.custom-file-upload.form-control{:for => "files"}
-#          %i.fa.fa-upload.pt-1.float-right
-#          Browse files
-#        = f.file_field :img, :class => "custom-file-input d-none", :id => "files", :accept => "image/*"
-#  .field
-#    = f.hidden_field :user_id, value: current_user.id
-#  .field
-#    = f.label :name
-#    = f.text_field :name
-#  .field
-#    = f.label :description
-#    = f.text_area :description
-#  .actions
-#    = f.submit 'Save'

= form_for @group do |f|
  - if @group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg
  .w-full.bg-white.rounded-lg.mx-auto.mt-16.flex.overflow-hidden.rounded-b-none
    .w-full
      .md:flex.items-center
        .w-full.flex.flex-col.px-2.py-4
          = f.hidden_field :user_id, value: current_user.id
          = f.label :name, :class => "text-sm text-gray-600"
          = f.text_field :name, :class => "mt-2 border-2 border-gray-200 px-3 py-2 block w-full rounded-lg text-base text-gray-900 focus:outline-none focus:border-indigo-500"
            
      .md:flex.items-center
        .w-full.flex.flex-col.px-2.py-4
          = f.label :description, :class => "text-sm text-gray-600"
          = f.text_area :description, :class => "mt-2 border-2 border-gray-200 px-3 py-2 block w-full rounded-lg text-base text-gray-900 focus:outline-none focus:border-indigo-500", :placeholder => "Class description", rows: "3"
          
        -# <div class="md:flex items-center">
        -# <div class="w-full flex flex-col px-2 py-4">
        -# <label for="photo" class="text-sm text-gray-600 w-full block">Photo</label>
        -# <img class="rounded-full w-16 h-16 border-4 mt-2 border-gray-200 float-left" id="photo" src="https://pbs.twimg.com/profile_images/1163965029063913472/ItoFLWys_400x400.jpg" alt="photo">
        -# </div>
        -# </div>
      .md:flex.items-center
        .w-full.flex.flex-col.px-2.py-4
          %label.inline-block.mb-2.text-gray-500 Upload Image(jpg,png,svg,jpeg)
          .flex.items-center.justify-center.w-full
            %label.flex.flex-col.w-full.h-32.border-4.border-dashed.hover:bg-gray-100.hover:border-gray-300
              .flex.flex-col.items-center.justify-center.pt-7
                %svg.w-12.h-12.text-gray-400.group-hover:text-gray-600{fill: "currentColor", viewbox: "0 0 20 20", xmlns: "http://www.w3.org/2000/svg"}
                  %path{"clip-rule" => "evenodd", d: "M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z", "fill-rule" => "evenodd"}
                %p.pt-1.text-sm.tracking-wider.text-gray-400.group-hover:text-gray-600 Select a photo
              
              .custom-file
                - if @direct_mode
                  = f.cl_image_upload :img, :accept => "image/*"
                - else
                  = f.file_field :img, :class => "custom-file-input d-none opacity-0", :id => "files", :accept => "image/*"
      
  .md:flex-1.px-3.text-center.md:text-right.mt-16
    %button.bg-my-silver.hover:bg-blue-700.text-white.font-bold.py-2.px-4.rounded Cancel
    %input.bg-my-blue.hover:bg-my-light-blue.text-white.font-bold.py-2.px-4.rounded{type: "submit", value: "Create"}/