.container.mx-auto.w-full.mt-8.py-10.min-w-full.sm:px-6.lg:px-8.bg-white.rounded

  %p#notice= notice
  %div{class:"flex items-between justify-center gap-2 w-full my-4"}
    %div{class: "flex flex-col gap-2 w-full text-3xl"}
      %span{class: "text-3xl text-my-blue font-bold"}= "#{@group.name}"
      %div{class: "flex flex-col md:flex-row text-xl gap-3"}
        %span{class: "text-base text-gray-500"}Teacher: 
        %span{class: "text-base text-my-blue font-bold"}= "#{@teacher.fullname}"
      %div{class: "flex flex-col md:flex-row text-xl gap-3"}
        %span{class: "text-base text-gray-500"}Description: 
        %span{class: "text-base  text-my-blue font-bold"}= @group.description
    - if current_user.role == 'teacher'
      %div{class: "flex justify-center gap-2"}
        = link_to edit_group_path(@group), :class => "w-40 flex self-center px-8 py-2 rounded bg-my-blue hover:bg-my-blue hover:bg-my-blue hover:opacity-80 flex items-center justify-center transition duration-250" do 
          %span{class: "text-white text-base"} Edit Group
        = link_to @group, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "w-40 hover:text-white flex gap-2 self-center px-8 w-32 py-2 rounded bg-my-pink hover:bg-red hover:opacity-80 flex items-center justify-center transition duration-250" do 
          %span{class: "text-my-blue text-base"} Delete Group

  %ul.flex.border-b.border-light-blue.text-sm.font-medium.text-my-blue.px-4.md:px-0.mt-8.w-auto
    %li.font-bold.hover:text-my-pink.cursor-pointer.tablink{onclick: "openTab(event,'Assignments')"}
      %a.py-4.inline-block.bold.hover:bg-my-pink.hover:text-my-blue Assignments
    %li.font-bold.hover:text-my-pink.cursor-pointer.tablink{onclick: "openTab(event,'Activities')"}
      %a.py-4.inline-block.bold.hover:bg-my-pink.hover:text-my-blue.p-4 Activities
    %li.font-bold.hover:text-my-pink.cursor-pointer.tablink{onclick: "openTab(event,'Students')"}
      %a.py-4.inline-block.bold.hover:bg-my-pink.hover:text-my-blue.p-4 Students

  = render :partial => 'layouts/table_links'
  .divtab{id: "Students", style: "display:none"}
    = render 'class_students/index'
  
  .divtab{id: "Assignments"}
    = render 'assignments/index'  
  
  .divtab{id: "Activities", style: "display:none"}
    = render 'activities/index'

:javascript
  function toggleModal() {
    document.getElementById('modal').classList.toggle('hidden')
  }

  function openTab(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("divtab");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    document.getElementById(tabName).style.display = "block";
  }
