%p#notice= notice
%h1= @group.name
%p
  %b Img:
  = @group.img
%p
  %b User:
  = @group.user_id
%p
  %b Name:
  = @group.name
%p
  %b Description:
  = @group.description

= link_to 'Edit', edit_group_path(@group)
\|
= link_to 'Back', groups_path

%br
%h1 Add student
= render 'class_students/index'
= render 'class_students/form'
= render 'posts/index'
= render 'posts/form'