%div{class: "flex flex-col gap-2 w-full bg-white px-8 py-4 gap-4"}
  %div{class: "flex flex-row gap-2 text-xl text-black"}
    %span Assignment Submissions

  %div{class: "align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200 w-full"}
    %table.min-w-full
      %thead
        %tr
          %th.px-6.py-3.border-b.border-gray-200.bg-my-teal.font-bold.text-white.text-left.text-xs.leading-4.font-medium.uppercase.tracking-wider
            Student
          %th.px-6.py-3.border-b.border-gray-200.bg-my-teal.font-bold.text-white.text-left.text-xs.leading-4.font-medium.uppercase.tracking-wider
            Date Submitted
          %th.px-6.py-3.border-b.border-gray-200.bg-my-teal.font-bold.text-white.text-left.text-xs.leading-4.font-medium.uppercase.tracking-wider
            Body
          %th.px-6.py-3.border-b.border-gray-200.bg-my-teal.font-bold.text-white.text-left.text-xs.leading-4.font-medium.uppercase.tracking-wider
            Actions
          %th.px-6.py-3.border-b.border-gray-200.bg-my-teal.font-bold.text-white.text-left.text-xs.leading-4.font-medium.uppercase.tracking-wider
            Grade
      %tbody{class: "bg-white"}
        - @assignment_submissions.each do |assignment_submission|
          - if !assignment_submission.user.nil?
            %tr
              %td.px-6.py-4.whitespace-no-wrap.border-b.border-gray-200
                .flex.items-center
                  .ml-4
                    .text-sm.leading-5.font-medium.text-gray-900
                      %div{class: "flex flex-row gap-2"}
                        %span= assignment_submission.try(:user).try(:first_name)
                        %span= assignment_submission.try(:user).try(:last_name)
                    .text-sm.leading-5.text-gray-800 
              %td.px-6.py-4.whitespace-no-wrap.border-b.border-gray-200.text-sm.leading-5.text-gray-800
                = assignment_submission.created_at.to_date if assignment_submission.created_at?
              -#Body
              %td.px-6.py-4.whitespace-no-wrap.border-b.border-gray-200.text-sm.leading-5.text-gray-800
                = assignment_submission.body
              -# Download Link
              %td.px-6.py-4.whitespace-no-wrap.border-b.border-gray-200.text-sm.leading-5.text-gray-800.flex.flex-row.gap-4
                = link_to 'Download', assignment_submission.file, download: '' if assignment_submission.file.attached?
                = link_to 'Grade', "/groups/#{@group.id}/assignments/#{@assignment.id}/assignment_submissions/#{assignment_submission.id}/edit"
              %td.px-6.py-4.whitespace-no-wrap.border-b.border-gray-200.text-sm.leading-5.text-gray-800
                = assignment_submission.grade
            


