= form_for ([@group , @post]) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  %div{class: "flex flex-col gap-2"}
    %field
      = f.label :content
      = f.text_area :content, :class => "bg-gray-50 w-full rounded shadow border border-gray-200 text-gray-800 text-base p-2", :placeholder => "Post something", :row => "5"
    %field{class: "flex justify-end"}
      = f.hidden_field :user_id, value: current_user.id
      = f.submit 'Send', :class => "bg-my-blue font-bold hover:opacity-75 cursor-pointer text-white p-2 rounded-lg w-32 transition-opacity duration-200"
