= form_with scope: :post, url: create2_path do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  
  .bg-white.w-full.shadow.rounded-lg.p-5
    = f.hidden_field :user_id, value: current_user.id
    = f.text_area :content, :class => "bg-gray-200 w-full rounded-lg shadow border p-2", :placeholder => "Write something", rows: "5"
    .w-full.flex.flex-row.flex-wrap.mt-3
      %div{:class => "w-1/3"}
        = f.select :group_id, options_for_select(@groups.collect{ |u| [u.name, u.id]}, :selected => @post.group_id), {}, {class: 'w-full p-2 rounded-lg bg-gray-200 shadow border float-left'}
      %div{:class => "w-2/3"}
        = f.submit 'Post', :class => "float-right bg-indigo-400 hover:bg-indigo-300 text-white p-2 rounded-lg"
  -# .w-full.rounded-lg.mx-auto.flex.overflow-hidden.rounded-b-none.px-8.py-8
  -#   .w-full
  -#     .md:flex.items-center
  -#       .w-full.flex.flex-col.px-2.py-4
  -#         %label.text-sm.text-gray-600{for: "name"} To Class:
  -#         
  -#         
          
  -#     .md:flex.items-center
  -#       .w-full.flex.flex-col.px-2.py-4
  -#         
          
  -#       -# <div class="md:flex items-center">
  -#       -# <div class="w-full flex flex-col px-2 py-4">
  -#       -# <label for="photo" class="text-sm text-gray-600 w-full block">Photo</label>
  -#       -# <img class="rounded-full w-16 h-16 border-4 mt-2 border-gray-200 float-left" id="photo" src="https://pbs.twimg.com/profile_images/1163965029063913472/ItoFLWys_400x400.jpg" alt="photo">
  -#       -# </div>
  -#       -# </div>
      
  -#     .md:flex-1.px-3.text-center.md:text-right
  -#       
   