%p#notice= notice

%p
  %b Content:
  = @post.content
%p
  %b Group:
  = @post.group_id
%p
  %b User:
  = @post.user_id

= link_to 'Edit', "/groups/#{@group.id}/posts/#{@post.id}/edit"
= link_to 'Destroy', "/groups/#{@group.id}/posts/#{@post.id}", :method => :delete, :data => { :confirm => 'Are you sure?' }
= render 'comments/form'

