= form_with model: [ @group, @activity, @activity_submission ] do |f|
  - if @activity_submission.errors.any?
    #error_explanation
      %h2= "#{pluralize(@activity_submission.errors.count, "error")} prohibited this activity_submission from being saved:"
      %ul
        - @activity_submission.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :user_id, value: current_user.id
  
  .field
    = f.fields_for :answers do |answers_form|
      .field
        = answers_form.label :number, (answers_form.index + 1)

        = answers_form.label :question, @questions[answers_form.index].query_question
        = answers_form.hidden_field :question_id, value: @questions[answers_form.index].id

        = answers_form.label :answer

        = answers_form.radio_button :answer, "true"
        = answers_form.label :answer_true, "True"

        = answers_form.radio_button :answer, "false"
        = answers_form.label :answer_false, "False"

        = answers_form.hidden_field :grading, value: 0
      %hr/

  .actions
    = f.submit 'Save'