%div{ :class => "mt-10 sm:mt-0" }
  %div{ :class => "flex justify-center" }
    %div{ :class => "mt-5 md:mt-0 md:col-span-2", :style => "min-width: 500px" }
      - @questions.each.with_index do |question, index|
        %div{ :class => "shadow overflow-hidden sm:rounded-md py-1" }
          %div{ :class => "px-4 py-5 bg-white space-y-6 sm:p-6" }
            %fieldset
              %div
                %legend{ :class => "text-base font-medium text-gray-900" }
                  Question #{(index + 1)}: #{question.correct_answer == @answers[index].answer ? "Correct" : "Incorrect"}
                
                .py-2
                  .border-t.border-gray-200
                
                %p{ :class => "text-sm text-gray-700" }
                  = question.query_question
                
                %div{ :class => "mt-4 space-y-4" }
                  - if question.correct_answer == true
                    - if @answers[index].answer == true
                      %div{ :class => "flex items-center border-2 border-green-500 py-2" }
                        %input{ :type => 'radio', :name => index, :value => '1', :checked => true, :class => "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" }
                        True
                        -# = answers_form.radio_button :answer, "true", class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300"
                        -# = answers_form.label :answer_true, "True", class: "ml-3 block text-sm font-medium text-gray-700"

                      %div{ :class => "flex items-center" }
                        %input{ :type => 'radio', :name => index, :value => '1', :class => "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" }
                          False
                    
                    - else
                      %div{ :class => "flex items-center border-2 border-red-500 py-2" }
                        %input{ :type => 'radio', :name => index, :value => '1', :class => "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" }
                        True
                        -# = answers_form.radio_button :answer, "true", class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300"
                        -# = answers_form.label :answer_true, "True", class: "ml-3 block text-sm font-medium text-gray-700"

                      %div{ :class => "flex items-center border-2 border-green-500 py-2" }
                        %input{ :type => 'radio', :name => index, :value => '1', :checked => true, :class => "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" }
                          False
                  - else
                    - if @answers[index].answer == false
                      %div{ :class => "flex items-center" }
                        %input{ :type => 'radio', :name => index, :value => '1', :class => "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" }
                        True
                        -# = answers_form.radio_button :answer, "true", class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300"
                        -# = answers_form.label :answer_true, "True", class: "ml-3 block text-sm font-medium text-gray-700"

                      %div{ :class => "flex items-center border-2 border-green-500 py-2" }
                        %input{ :type => 'radio', :name => index, :value => '1', :checked => true, :class => "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" }
                          False
                    
                    - else
                      %div{ :class => "flex items-center border-2 border-red-500 py-2" }
                        %input{ :type => 'radio', :name => index, :value => '1', :checked => true, :class => "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" }
                        True
                        -# = answers_form.radio_button :answer, "true", class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300"
                        -# = answers_form.label :answer_true, "True", class: "ml-3 block text-sm font-medium text-gray-700"

                      %div{ :class => "flex items-center border-2 border-green-500 py-2" }
                        %input{ :type => 'radio', :name => index, :value => '1', :class => "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" }
                          False

      %div{ :class => "px-4 py-3 text-right sm:px-6 absolute top-20 left-5" }
        = link_to "Back", group_activity_path(@group, @activity), class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 visited:text-white"
      -#   = f.submit 'Submit', 
      -#   -# <button type="submit" :class =>  }Save                
                    -# = answers_form.radio_button :answer, "false", class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300"
                    -# = answers_form.label :answer_false, "False", class: "ml-3 block text-sm font-medium text-gray-700"

      -# = f.fields_for :answers do |answers_form|
      -#   %div{ :class => "shadow overflow-hidden sm:rounded-md py-1" }
      -#     %div{ :class => "px-4 py-5 bg-white space-y-6 sm:p-6" }
      -#       %fieldset
      -#         %div
      -#           %legend{ :class => "text-base font-medium text-gray-900" }
      -#             Question #{(answers_form.index + 1)}

      -#           .py-2
      -#             .border-t.border-gray-200
                
      -#           %p{ :class => "text-sm text-gray-700" }
      -#             = @questions[answers_form.index].query_question
                
      -#           = answers_form.hidden_field :question_id, value: @questions[answers_form.index].id

      -#         %div{ :class => "mt-4 space-y-4" }
      -#           %div{ :class => "flex items-center" }
      -#             = answers_form.radio_button :answer, "true", class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300"
      -#             = answers_form.label :answer_true, "True", class: "ml-3 block text-sm font-medium text-gray-700"

      -#           %div{ :class => "flex items-center" }
      -#             = answers_form.radio_button :answer, "false", class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300"
      -#             = answers_form.label :answer_false, "False", class: "ml-3 block text-sm font-medium text-gray-700"

      -#         = answers_form.hidden_field :grading, value: 0

      -# %div{ :class => "px-4 py-3 bg-gray-50 text-right sm:px-6" }
      -#   = f.submit 'Submit', class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      -#   -# <button type="submit" :class =>  }Save