= form_with model: [ @group, @activity ] do |f|
  - if @activity.errors.any?
    #error_explanation
      %h2= "#{pluralize(@activity.errors.count, "error")} prohibited this activity from being saved:"
      %ul
        - @activity.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :instructions
    = f.text_area :instructions

  Questions:
  .field
    = f.fields_for :questions do |questions_form|
      .field
        = questions_form.label :query_question
        = questions_form.text_field :query_question

        = questions_form.label :correct_answer
        = questions_form.radio_button :correct_answer, "true"
        = questions_form.label :correct_answer_true, "True"
        = questions_form.radio_button :correct_answer, "false"
        = questions_form.label :correct_answer_false, "False"

  .actions
    = f.submit 'Save'
