<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<div class="container mx-auto py-10 h-64 md:w-4/5 w-11/12 px-6">
  <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div>
        <h3 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Quiz Details</h2>
      </div>
      <%= form_with model: @activity, :class => "mt-8 space-y-6" do |f| %>
        <%= f.text_field :user_id, :value => current_user.id %>
        <div class="shadow sm:rounded-md sm:overflow-hidden">
          <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
            <div>
              <div class="col-span-6">
                <%= f.label :title, :class => "block text-sm font-medium text-gray-700" %><br />
                <%= f.text_field :title, :class => "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
              </div>
            </div>
            <div>
              <%= f.label :instructions, :class => "block text-sm font-medium text-gray-700" %><br />
              <div class="mt-1">
                <%= f.text_area :instructions, :rows => "3", :class => "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md" %>
              </div>
            </div>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <%= f.submit "Save", :class => 'inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%# <div class="container mx-auto py-10 h-64 md:w-4/5 w-11/12 px-6">
  <div class="w-full h-full rounded">
    <div>
      <div class="md:grid md:grid-cols-5 md:gap-6">
        <div class="mt-1 md:mt-0 md:col-span-3">
          <form action="#" method="POST">
            <div class="shadow sm:rounded-md sm:overflow-hidden">
              <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
                <div class="grid grid-cols-6 gap-6">
                  <div class="col-span-6">
                    <label for="quiz-title" class="block text-sm font-medium text-gray-700">Title</label>
                    <input type="text" name="quiz-title" id="quiz-title" autocomplete="quiz-title" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                  </div>
                </div>

                <div>
                  <label for="instructions" class="block text-sm font-medium text-gray-700"> Instructions </label>
                  <div class="mt-1">
                    <textarea id="instructions" name="instructions" rows="3" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"></textarea>
                  </div>
                </div>
              </div>
              <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> %>
