

= form_with(model: [@group, @class_student], local: true) do |f|
  - if @class_student.errors.any?
    #error_explanation
      %h2= "#{pluralize(@class_student.errors.count, "error")} prohibited this class_student from being saved:"
      %ul
        - @class_student.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :user_id
    = f.select :user_id, options_for_select(@students), {} ,{:required => "true"}
  .field
    = f.label :status
    = f.text_field :status, value: 'Joined'
  .actions
    = f.submit 'Save'