%h1 Listing class_students

%table
  %thead
    %tr
      %th Class
      %th User
      %th Status
      %th
      %th
      %th

  %tbody
    - @class_students.each do |class_student|
      %tr
        %td= class_student.class_id
        %td= class_student.user_id
        %td= class_student.status
        %td= link_to 'Show', class_student
        %td= link_to 'Edit', edit_class_student_path(class_student)
        %td= link_to 'Destroy', class_student, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br