<!DOCTYPE html>
<html class="h-full bg-gray-50">
    <title>TailwindDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="w-screen h-screen" >
    <%= render 'layouts/header' %>
    <div class="flex w-full">
      <%= render 'layouts/sidebar' %>
      <div class="flex flex-col w-full mt-20">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
  </body>

</html>